<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>addServlet</servlet-name>
        <servlet-class>com.filwsx.servlet.addServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>demo01</servlet-name>
        <servlet-class>com.filwsx.servlet.demo01Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo02</servlet-name>
        <servlet-class>com.filwsx.servlet.demo02Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo03</servlet-name>
        <servlet-class>com.filwsx.servlet.demo03Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo04</servlet-name>
        <servlet-class>com.filwsx.servlet.demo04Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo05</servlet-name>
        <servlet-class>com.filwsx.servlet.demo05Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo06</servlet-name>
        <servlet-class>com.filwsx.servlet.demo06Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo07</servlet-name>
        <servlet-class>com.filwsx.servlet.demo07Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>demo08</servlet-name>
        <servlet-class>com.filwsx.servlet.demo08Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo01</servlet-name>
        <url-pattern>/demo01</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo02</servlet-name>
        <url-pattern>/demo02</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo03</servlet-name>
        <url-pattern>/demo03</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo04</servlet-name>
        <url-pattern>/demo04</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo05</servlet-name>
        <url-pattern>/demo05</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo06</servlet-name>
        <url-pattern>/demo06</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo07</servlet-name>
        <url-pattern>/demo07</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo08</servlet-name>
        <url-pattern>/demo08</url-pattern>
    </servlet-mapping>
</web-app>